@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: poppins ;
}
body{
    background: #3EB372;
}
main{
    display: flex;
    justify-content: center;
    margin: 1% 10% 1% 10%;

}
main .big{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    gap: 30px;

}
main .small{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.img-1{
    width: 100%;
    
}
.author{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9em;
}
.author-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 0.9em;
    margin-top: 100px;
}
.author-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
    font-size: 0.9em;
    margin-top: 120px;
}
.img-2{
    width:100%;
}

.card-1{
    background: white;
    height: fit-content;
    margin-right: 30px;


   
}
.card-2{
    background: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.card-3{
    background: white;
    width: fit-content;
    /* padding: 30px; */
    margin-top: 30px;
}
.card-1-text{
    padding: 20px;
    width: fit-content;
}
.card-2-text{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 20px;
    width: fit-content;
}

.card-3-text{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 20px;
    width: fit-content;
}
@media (max-width:768px) {
    main{
        margin: 2%;
    }
    .author-2, .author-3{
        margin-top: 20px;
        font-size: 0.8em;
    }
    .card-2-text{
        padding: 20px;
    }
    .card-3-text{
        padding: 10px;
    }
    .card-3{
        padding: 10px;
    }
    

    .card-1{
        margin-right: 20px;
    }
    
    p{
        font-size: 0.85em;
    }
    .img-1{
        height: 384px;
    }
}
@media(max-width:425px){
    main{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    main .big{
        width: 100%;
        gap: 0;
    }
    main .small{
        width: 100%;
    }
    .card-1{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .card-2{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
       
    }
    .card-3{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
}